{% extends 'base.html' %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->

{% block title %}Photo - {{ name }}{% endblock %}


{% block head %}
<style>

</style>
{% endblock %}

{% block content %}

<div class="m-5">
<div class="container">
    <h1 class="herotitle">Photos</h1>

        <div class="row justify-content-center">
            <div class="col">

                <a href="{% url 'photos:gallery' %}" class="btn btn-dark my-3">Go Back</a>

                <div style="height: 90vh;">
                    <img style="max-width: 100%; max-height: 100%;" src="{{photo.image.url}}">

                    <p class="my-5">{{photo.description}}</p>
                </div>

            </div>
        </div>

</div>
</div>
</br>
{% endblock %}